################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SmallSnack.Microservice/v15
/src/SmallSnack.Microservice/obj
/src/SmallSnack.Microservice/bin/Debug/netcoreapp2.2
/src/SmallSnack.Microservice.Domain/obj
/src/SmallSnack.Microservice.Repository/obj
/src/SmallSnack.Microservice.Domain/bin/Debug/netcoreapp2.2
/src/SmallSnack.Microservice.Repository/bin/Debug/netcoreapp2.2
*.config
